.main__banner{
	height:400px;
	background:url(../img/banner-background-photo.svg) center/cover no-repeat;
	background-size: 1440px 400px;
}
.main__banner-text{
	font-family:'Uni Neue';
	font-weight:800;
	font-style:italic;
	max-width:725px;
	height:400px;
	margin:0 auto;
	color:white;
	font-size:80px;
	line-height:108px;
	text-align:center;
	vertical-align:middle;
	padding:36px 0 0 0;
}

.text-field{
	height:50px;
	width:285px;
	background-color:rgb(42,47,61);
	border-radius:2px;
	border:1px solid rgb(42,47,61);
	border-bottom:1px solid black;
}

.text-field::-webkit-input-placeholder{
	color: #CFD5E6;
	text-indent:14px;
	text-overflow:ellipsis;
}
.text-field::-moz-placeholder{
	color: #CFD5E6;
	text-indent:14px;
	text-overflow:ellipsis;
}
.text-field:-moz-placeholder{
	color: #CFD5E6;
	text-indent:14px;
	text-overflow:ellipsis;
}
.text-field:-ms-input-placeholder{
	color: #CFD5E6;
	text-indent:14px;
	text-overflow:ellipsis;
}

.dropdown-field{
	position:relative;
	display:inline-block;
}
.dropdown-field-triangle{
	position:absolute;
	right:15px;
	top:50%;
	width:1px;
	height:1px;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	border-top:4px solid #FF823B;
	border-bottom:none;
}
.dropdown-field-triangle-up{
	border-bottom:4px solid #FF823B;
	border-top:none;
	transition:border-top .3s, border-bottom .3s;
}

.dropdown-list{
	width:285px;
	display:none;
	position:absolute;
	background-color:rgb(42,47,61);
	color: #CFD5E6;
}
.dropdown-list_show{
	display:block;
}

.submit-button{
	height:50px;
	width:285px;
	background-color:#FF823B;
	border-radius:2px;
	border:1px solid #FF823B;
	border-bottom:1px solid black;
	color:white;
	text-decoration:none;
}
.submit-button:hover{
	background-color:#3e9df6;
	border:1px solid #3e9df6;
	border-bottom:1px solid black;
	color:white;
	text-decoration:none;
}
.main__os-text-fields{
	display:flex;
	justify-content:space-between;	
}
