.body__inner{
}

.callback-form{
	display:none;
}
/*The styles for the changing fancybox origin plugin CSS*/
.fancybox-content{
	overflow:visible;
}
.fancybox-slide--html .fancybox-close-small{
	position:absolute;
	right:-20px;
}
