.body__inner{
}


.main__what-repare{
	height:445px;
	max-width:1200px;
	margin:0 auto;
	color:#CFD5E6;
}

.main__wr-header{
	margin:25px 0 33px 0;
	font-size:48px;
	font-weight:bold;
	line-height:56px;
}

