.body__inner{
}

.callback-form{
	display:none;
	background-color:#0F1626;
	width:590px;
	height:350px;
	padding:25px 60px 40px 60px;
}
.callback-form svg{
	transform:scale(2);
}
.callback-form svg path{
	fill:white;
}

.fancybox-bg{
	background-color:rgba(15, 22, 38, 0.8);
}

/*The styles for the changing fancybox origin plugin CSS*/
.fancybox-content{
	overflow:visible;
}
.fancybox-slide--html .fancybox-close-small{
	position:absolute;
	right:-44px;
}

.callback-form__header{
	font-weight:bold;
	font-size: 24px;
	line-height: 28px;
	color:white;
	margin:3px 0 0 0;
}
.callback-form__text{
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	margin:11px 0 0 0;
	word-spacing:-1px;
}
.callback-form__telephone{
	border-radius:2px;
	height:48px;
	width:100%;
	border:none;
	background-color:#2A2F3D;
	margin:10px 0 0 0;
}
.callback-form__telephone::-webkit-input-placeholder{
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__telephone::-moz-placeholder{
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__telephone:-moz-placeholder{
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__telephone:-ms-input-placeholder{
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}

.callback-form__comment{
	border-radius:2px;
	height:96px;
	width:100%;
	border:none;
	background-color:#2A2F3D;
	margin:10px 0 0 0;
}
.callback-form__comment::-webkit-input-placeholder{
	padding-top:10px;
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__comment::-moz-placeholder{
	padding-top:10px;
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__comment:-moz-placeholder{
	padding-top:10px;
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}
.callback-form__comment:-ms-input-placeholder{
	padding-top:10px;
	font-size: 18px;
	line-height: 21px;
	color: #CFD5E6;
	text-indent:20px;
	text-overflow:ellipsis;
}

.callback-form__submit{
	font-size: 18px;
	line-height: 21px;
	border-radius:2px;
	height:48px;
	background-color:#FF823B;
	width:320px;
	border:none;
	color:white;
	margin:4px 0 0 0;
}
.callback-form__submit:hover{
	background-color:#3e9df6; 
}

@media(max-width:768px){
	.callback-form{
		width:100%;
		height:566px;
		padding:15px;
	}
	.callback-form svg{
		transform:scale(1.33);
	}

	.fancybox-content{
		overflow:hidden;
	}
	.fancybox-slide--html .fancybox-close-small{
		position:absolute;
		right:2px;
		top:2px;
	}
	.fancybox-slide--html{
		padding:0;
	}
	.fancybox-slide:before{
		vertical-align:top;
	}

	.callback-form__header{
		font-weight:bold;
		font-size: 17px;
		line-height: 21px;
		margin:1px 0 0 0;
	}
	.callback-form__text{
		font-size: 14px;
		line-height: 16px;
		margin:1px 0 0 0;
	}
	.callback-form__telephone{
		height:32px;
		margin:9px 0 0 0;
	}
	.callback-form__telephone::-webkit-input-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__telephone::-moz-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__telephone:-moz-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__telephone:-ms-input-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}

	.callback-form__comment{
		height:64px;
		margin:8px 0 0 0;
	}
	.callback-form__comment::-webkit-input-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__comment::-moz-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__comment:-moz-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}
	.callback-form__comment:-ms-input-placeholder{
		font-size: 16px;
		line-height: 19px;
		text-indent:14px;
	}

	.callback-form__submit{
		font-size: 14px;
		line-height: 16px;
		height:32px;
		width:100%;
		margin:3px 0 0 0;
	}
}
